.contact-grid {
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;

  
}

.contact-card {
  background: white;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.06);
}

.contact-card-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: .4rem;
}

.contact-card-sub {
  opacity: .7;
  font-size: .9rem;
  margin-bottom: 1.5rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: .9rem 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 1rem;
  font-size: .95rem;

  &:focus {
    outline: none;
    border-color: $os-color-success;
    box-shadow: 0 0 0 3px rgba(74,104,255,0.12);
  }
}

.contact-two-col {
  display: flex;
  gap: 1rem;
}

.contact-btn {
  width: 100%;
  padding: 1rem;
  background: $os-color-primary;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;

  &:hover {
    background: $os-color-hover;
  }
}

.info-card .contact-info-block {
  margin-bottom: 1.4rem;
}

.info-label {
  font-size: .85rem;
  opacity: .6;
  margin-bottom: .2rem;
}

.contact-info-block a,
.contact-info-block span {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: black;
}
.contact-info-block a:hover {
   text-decoration: underline;
}